{% extends 'base.html' %}

{% block title %}
    گلابو|ورود
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="auth-container">
                <div class="auth-tabs">
                    <div class="auth-tab" data-tab="login">ورود</div>
                </div>

                <form method="post" action="{% url 'login_page' %}">
                    {% csrf_token %}
                    <div class="auth-form " id="register-form">
                        <div class="form-group">
                            {{ login_form }}
                            <button class="btn auth-btn">ورود</button>


                        </div>
                    </div>
                </form>
                <div class="for-login">
                    برای فراموشی رمز عبور <a href="{% url 'email_reset_pass_page' %}">اینجا</a> کلیک کنید
                </div>
                <div class="auth-note">
                    با ثبت‌نام، شرایط و قوانین گلابو را می‌پذیرید
                </div>
            </div>
        </div>
    </main>
{% endblock %}