{% extends 'base.html' %}

{% block title %}
    گلابو | ورود
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="auth-container">
                <div class="auth-tabs">
                    <div class="auth-tab" data-tab="login">بازیابی رمز عبور</div>
                </div>

                <form method="post" action="{% url 'email_reset_pass_page' %}">
                    {% csrf_token %}
                    <div class="auth-form " id="register-form">
                        <div class="form-group">
                            {{ email }}
                            <button class="btn auth-btn">ارسال ایمیل</button>

                            <div class="auth-note">
                                با ثبت‌نام، شرایط و قوانین گلابو را می‌پذیرید
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}