{% load persian_filters %}

<footer class="main-footer">
    <div class="container footer-grid">
        <div>🌹 {{ main_setting.site_name }} | مرجع تخصصی گلاب ناب ایرانی</div>
        <div>📞 {{ main_setting.phone|to_persian_digits }}+</div>
        <div>📧 {{ main_setting.email }}</div>
        <a referrerpolicy='origin' target='_blank'
                href='https://trustseal.enamad.ir/?id=762728&Code=9YItWqSa6zDdhtRvdnnmLaNGdppRgCkJ'><img
                referrerpolicy='origin'
                src='https://trustseal.enamad.ir/logo.aspx?id=762728&Code=9YItWqSa6zDdhtRvdnnmLaNGdppRgCkJ' alt=''
                style='cursor:pointer' code='9YItWqSa6zDdhtRvdnnmLaNGdppRgCkJ'></a>
    </div>
    <div class="copyright">{{ main_setting.copyright }}</div>
</footer>
